<!-- 소개 페이지 -->
{% extends 'grace/navbar.html' %}
{% load static %}

{% block content %}

    <h1>강좌 소개</h1>
    <hr/>

    <div class="row" style="margin-bottom: 2rem; margin-top: 50px">

        <!-- 강좌 소개 -->
        <div class="col-lg-8">
            <div class="card" style="padding: 20px">
                <h2>뷰티 - 퍼스널컬러 진단</h2>
                <p>
                    ★8월 이벤트!! “매력”적인 나를 만드는 비주얼 퍼스널 컬러컨설팅!★
                </p>
                <img width="100%" src="https://cdn.pixabay.com/photo/2017/07/03/20/17/abstract-2468874_1280.jpg"/>

                <!-- 수업 소개 -->
                <div style="margin-top: 50px">
                    <h3>수업소개</h3>
                    ☑ 퍼스널컬러 프로그램 <br />
                    <br />
                    * 프로그램에 따라 커리큘럼과 비용이 상이하기 때문에 커버 이미지를 꼭꼭 참고해주세요(이미지사진 2번째부터 안내되어있어요!)❤️ 프로그램 중 택 1<br />
                    <br />
                    1. 퍼스널컬러 심플<br />
                    2. 퍼스널컬러 베이직<br />
                    3. 퍼스널컬러 디테일<br />
                    4. 퍼스널컬러 업그레이드<br />
                    5. 퍼스널컬러 남성 (커플 또는 남녀 혼성그룹으로만 진행 가능합니다)<br />
                    <br />
                    <br />
                </div>

                <!-- 튜터 정보 -->
                <div>
                    <h3>튜터정보</h3>
                    <div class="row">

                        <!-- 튜터 이미지 -->
                        <div class="col-lg-4">
                            <img style=" width: 100%; display: block;" src="https://search.pstatic.net/common?type=a&size=120x150&quality=95&direct=true&src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2Fportrait%2F202006%2F20200618170838231.jpg" alt="Card image">
                            <br/>
                            현) 이미지 케렌시아 대표<br />
                            현) 리움스피치 강남승무원학원 대표강사<br />
                            전) 대한항공 국제선 승무원<br />
                        </div>

                        <!-- 튜터 경력 -->
                        <div class="col-lg-8">
                            <br />
                            [강의 경력]<br />
                            연세대/서울시립대 외 다수 대학교 퍼스널컬러 &이미지메이킹 강의<br />
                            대한항공,아시아나항공,제주항공, 티웨이 등 공채대비 항공사승무원 이미지메이킹 특강<br />
                            한국외대 글로벌 직업박람회 대한항공 객실승무원 멘토링<br />
                            비전중 외 다수 중.고등학교 직업체험 및 이미지메이킹 강의<br />
                            <br />
                            [자격사항]<br />
                            npo 일본 국제 퍼스널컬러 자격증<br />
                            이미지메이킹 강사<br />
                            서비스강사 1급<br />
                            서비스매니저 1급<br />
                            서비스능력 개발지도사 <br />
                            레크리에이션 지도사<br />
                            <br />
                            [주요 강의 분야]<br />
                            퍼스널컬러.뷰티이미지메이킹.승무원.취업<br />
                        </div>
                    </div>
                    <br />
                    ✔ Be My Color!<br />
                    <br />
                    이미지 경쟁시대! <br />
                    나를 브랜딩하라! <br />
                    매력이 자본이다! <br />
                    <br />
                    첫인상의 중요성에 관한 이야기들은 한번쯤은 들어보셨을 거예요.<br />
                    <br />
                    저는 승무원으로 근무하며 더욱이 이미지의 중요성을 느끼고 어떻게 하면 상대방에게 좋은 이미지를 전달할 수 있을지에 대해 그 누구보다 열심히 고민해왔어요!<br />
                    <br />
                    반짝★ 유행하는 패션이나 비싼명품을 걸치는 것만으로는 <br />
                    여러분의 '매력'을 빛내기 쉽지 않습니다.<br />
                    <br />
                    <br />
                    ✔ Find My Color<br />
                    <br />
                    사람들이 가지고 있는 요소는 다양하고, <br />
                    어울리는 색감과 스타일은 다 다릅니다!<br />
                    <br />
                    여러분은 세상에 단 하나밖에 없는 브랜드이고, <br />
                    <br />
                    컬러로 여러분의 '매력'을 끌어내는것이 컨설턴트인 제가 가장 자신있게 도와드릴 수 있는 부분이에요~<br />
                    <br />
                    이제 이 글을 읽는 여러분도!<br />
                    퍼스널컬러로 '자신감'과 '매력'을 찾아보세요 :)</br>
                    </br>
                    </br>
                    <hr/>
                </div>
            </div>
        </div>

        <!-- 신청 버튼란 -->
        <div class="col-lg-4" >
            <div class="jumbotron" style="padding-top: 20px">

                <!-- 신청 버튼 -->
                <a class="btn btn-primary" href="/apply/" role="button" style="margin-bottom: 50px">수업 신청하기</a>

                <!-- 장소 -->
                <br />
                ✔장소: 서울여자대학교 50주년기념관, 화랑대역 15분 거리<br />
                <br />
                ✔학교에서 진행됨으로 별도의 장소이용료 없습니다<br />
                <br />
                ✔공지되어 있는 수업일정은 2인 그룹수업 신청해주신분들 기준입니다<br />
                등록된 날짜,시간 이외의 수업신청을 원하시는 경우 또는 1:1수업의 경우 실시간 톡으로 문의주세요:) <br />
                저녁수업도 날짜에 따라 가능하니 편하게 문의 주세요!<br />
                <br />

                <!-- 가격 -->
                ☑ 가격 <br />
                <div class="hp1"><b>￦30,000원</b> / 시간</div>
                <div class="tp1" style="margin-bottom: 20px">￦60,000 / 총 1회 2시간</div>
                <p>
                    <br />
                    ★☻ 수업 신청 전, 성함/프로그램 명/인원/희망 날짜 또는 시간대를 포함한 사항들을 실시간 톡으로 보내주시고 스케줄 확정 후 결제 부탁드려요 ☻ ★<br />
                    <br />
                    <br />
                    코로나로 인해 손 소독제 구비와 진단교구들의 청결관리와 위생에 더욱 철저히 주의하고 있으며 컨설팅 시 컨설턴트는 마스크를 착용하고 진행하고 있습니다.<br />
                    <br />
                </p>

                <!-- 추천 -->
                <p>✔ 이런 분께 강력추천!<br />
                    <br />
                    - 나에게 어울리는 컬러를 찾고 싶은 분<br />
                    - 내 매력을 한층 더 업그레이드 하고 싶은 분<br />
                    - 좀 더 현명하게 색을 활용하고 싶은 분<br />
                    - 데일리 메이크업/스타일링에 적용하고 싶은 분<br />
                    - 나에게 어울리는 인생 립스틱을 찾고싶은 분<br />
                    - 중요한 날을 위해 컬러컨설팅이 필요하신분 <br />
                    ex) 소개팅/업무미팅<br />
                    - 면접을 앞둔 취준생<br />
                    <br />
                    <br />
                    ✔ 아쉽지만, 다음에 만나요ㅠ<br />
                    <br />
                    - 본인만의 뚜렷한 스타일로 컨설턴트를 신뢰하지 못하는 분
                </p>
            </div>
        </div>
    </div>
{% endblock %}